.logement {
    
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2%;
    height: 100% !important;
    
    &__carrousel {
        height: 45vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        &__pagination {
            position:absolute;
            color: white;
            bottom: 10px;
            font-size: 15px;
        }

        &__leftchevron,
        &__rightchevron {
          position: absolute;
          z-index: 1;
          top: 50%;
          font-size: 80px;
          transform: translateY(-50%);
          cursor: pointer;
          
        }
      
        &__leftchevron {
          left: 10px;
        }
      
        &__rightchevron {
          right: 10px;
        }
    }
    
   
    &__img {
        width :100%;
        height :100%;
        object-fit: cover;
        border-radius: 25px;
    }

   

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    &__first {
        display : flex;
        flex-direction: row;
        
        
    }

    &__title {
        
        display : flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 10px;
        width: 70%;

        &__h2 {
            color: #FF6060;
            font-family: Montserrat;
            font-size: calc(16px + 2vw);
            font-style: normal;
            font-weight: 500;
            line-height: 142.6%; /* 51.336px */
            margin: 0;
           
        }

        &__localisation {
            color: #FF6060;
            font-family: Montserrat;
            font-size: calc(7px + 1vw);

            font-style: normal;
            font-weight: 500;
            line-height: 142.6%; /* 25.668px */
            margin-bottom: 15px;
           
        }

        &__host {
            color: #FF6060;
            
            text-align: right;
            font-family: Montserrat;
            font-size: calc(7px + 1vw);
            font-style: normal;
            font-weight: 500;
            line-height: 142.6%; /* 25.668px */
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            
            height: 50%;
            width: 100%; 
            justify-content: flex-end;

            &__name {
                display : flex;
                justify-content : space-between;
                align-items: center;
            }

            img {
                border-radius: 60px;
                width: calc(35px + 2vw);
                height: calc(35px + 2vw);
            }
        }
    }


    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        
        width: 30%;
        margin-top: 10px;
    }
}


//Faq
.flex {
    display: flex;
    flex-direction: row;
    
    width: 100%;
    gap: 80px;
    justify-content: flex-start;
    align-items: flex-start;
}

.dropdown {
    
    height: 100vh;
}

@media (max-width: 768px) {
    .logement {
        &__carrousel {
            &__leftchevron, &__rightchevron {
                font-size: 30px;
            }

            &__pagination {
                display: none;
            }
        }
        
        &__first {
            display : flex; 
            flex-direction: column;
        }

        &__details {
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            
        }
    }

    .flex { 
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-bottom: 25px;
    }
}