.logement {
    border: 1px solid red;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    height: 100% !important;
    
    &__carrousel {
        height: 500px;
        width: 100%;
    }

    &__swiper {
        height: 50vh;
        border: 1px solid green;
        color: white !important;
    }

    &__card { 
        height: 100%;
        overflow: hidden;
    }

    &__img {
        width :100%;
        height :100%;
        object-fit: cover;
        border-radius: 25px;
    }

    &__info {
         
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        
    }

    &__first {
        display : flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
    }

    &__title {
        
        display : flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        &__h2 {
            color: #FF6060;
            font-family: Montserrat;
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            line-height: 142.6%; /* 51.336px */
            margin: 0 auto;
        }

        &__localisation {
            color: #FF6060;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 142.6%; /* 25.668px */
            margin-bottom: 15px;
        }
    }

    &__tags {
        background-color: #FF6060;
        color: #fff;
       // padding: 5px 10px;
        //margin-right: 5px;
        border-radius: 10px;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        width: 115px;
        height: 25px;
        flex-shrink: 0;

        &__tag {
            margin: 10px;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        
        
        &__host {
            color: #FF6060;
            text-align: right;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 142.6%; /* 25.668px */
           
            span {
                margin: 30px;
            } 
        }
    }

    &__rating {
        margin-top: 25px;

        &__star {
            margin-left: 13px;
            width: 25px;
            height: 36px;
            flex-shrink: 0;
        }
    }

    &__second {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
       
        height : 100px;

        &__dropdown {
           
            padding: 1rem; 
            width: 45%;
            margin-left: 20px;
             
        }
    }
}


//Faq
.flex {
    display: flex;
    flex-direction: row;
    border: 1px solid red;

}

.faqs {
    width: 100%;
    //max-width: 768px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    //padding: 15px;
    justify-content: center;
    align-items:center;
    
  }
  
  .faqs .faq {
    margin: 14px;
    padding: 12px;
    background: #ff6060;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    
  }
  
  .faqs .faq .faq-question {
    position: relative;
    font-size: 20px;
   
    transition: all 0.4s ease;
    color : white;
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-between;
    
    
    
  }

  .faqs .faq .faq-question button {
      color : white;
      background-color: #ff6060;
      border: none;
      
  }
  
  

  .faqs .faq .faq-answer {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
    background-color: #F6F6F6 ;
    color:#ff6060;
    
    
  }
  
  .faqs .faq.open .faq-question {
    margin-bottom: 15px;
  }
  
  
  .faqs .faq.open .faq-answer {
    max-height: 1000px;
    opacity: 1;
  }
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    color: white !important;
}
.swiper-button-prev, .swiper-button-next {
    color: white !important;
}