.header {
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding-top: 2%;

    &__logo {
        padding-left: 7%;
    }

    &__nav {
        display: flex;     
        justify-content: space-between;
        padding-right: 7%;  
    }

    &__link {
        color : #FF6060;
        font-size: calc(1.5vh + 1vw);
        font-style: normal;
        font-weight: 500;
        text-decoration: none;
        margin-left: 25px;
        
        &:hover {
            text-decoration: underline;
            color : #FF6060;
        }
    }
}


@media (max-width: 769px) {
    .header {
        &__link {
            text-transform: uppercase;
            font-size: calc(1vh + 1vw);
        }
    }
}