.header {
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding-top: 2%;
}

.headerLogo {
    padding-left: 7%;
}

.headerNav {
    display: flex;
    
    justify-content: space-between;
    padding-right: 7%;
    
}

.headerLink {
    color : #FF6060;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    margin-left: 25px;
    
    
}

.headerLink:hover {
    text-decoration: underline;
    color : #FF6060;
}

@media (max-width: 768px) {
    .headerLogo img.normalLogo {
        display : none;
    }

    .headerLogo img.smallLogo {
        display : block;
    }

    .headerLink {
        color: #FF6060;
        text-align: right;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%; /* 17.112px */
    }
}

@media (min-width: 769px) {
    .headerLogo img.smallLogo {
        display: none;
    }
}

