.faqs {
    width: 90%;
    //max-width: 768px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 45px;
    //padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .faq {
      
      width: 100%;
      background: #ff6060;
      border-radius: 5px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  
      .faq-question {
        position: relative;
        font-size: calc(9px + 1vw);
        padding: 12px;
        
        transition: all 0.4s ease;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: normal;
        justify-content: space-between;
  
        button {
          color: white;
          background-color: #ff6060;
          border: none;
          
          .chevronicon {
            transition: transform 0.4s ease;
          }
        }
      }
  
      .faq-answer {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: all 0.2s ease;
        background-color: #f6f6f6;
        color: #ff6060;
        list-style: none;
        font-size: calc(10px + 0.5vw);
      }
  
      &.open {
        
        button .chevronicon {
          transform: rotate(90deg); /* Rotation de l'icône vers le bas */
        }

        .faq-answer {
          max-height: 1000px;
          opacity: 1;
          padding: 15px;
          line-height: 1.5;
          
        }
      }
    }
  }
  